@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: rgb(215, 63, 9);
  margin-top: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: white;
}

p {
  font-size: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: Georgia, serif;
}

p2 {
  font-size: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

p1 {
  color: white;
  font-size: 20px;
}

.parallax {
  background-image: url('https://osuminecraft.us/images/background.jpg');
  min-height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  margin: 0;
}

.footer {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(37, 37, 37);
  color: white;
}
